# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Ignore all markdown files
*.md

# Exception: keep README.md
!README.md
!Readme.md

# Virtual environments & IDE
.env
.venv
env/
venv/
.vscode/
.idea/
